* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:host {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 100%;
  list-style-type: none;
  margin-top: 20px;
}

ul > li {
  width: 100%;
  border: 2px solid #c9c9c9;
  margin-bottom: 20px;
  border-radius: 3px;
}

a {
  display: flex;
  align-items: center;
  padding: 35px 20px;

  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 1.2rem;
}

.responseContainer {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container {
  padding: 10px;
  margin-bottom: 20px;
}

li:nth-child(odd) {
  background: #a3a3a3;
}

li:nth-child(even) {
  background: lightgrey;
}

button {
  width: 100%;
}

@media (max-width: 600px) {
  .responseContainer {
    width: 100%;
  }
}
