* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:host {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

ul {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  list-style-type: none;
}

ul > li {
  width: 100%;
  border: 1px solid #c9c9c9;
  margin-bottom: 20px;
}

li:nth-child(odd) {
  background: #a3a3a3;
}

li:nth-child(even) {
  background: lightgrey;
}

a {
  display: flex;
  align-items: center;
  padding: 35px 20px;

  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 1.2rem;
}

.category-title {
  color: #fcfc62;
  margin-bottom: 20px;
  font-weight: 300;
}

@media (max-width: 600px) {
  ul {
    width: 100%;
  }
}
