
<app-navigation></app-navigation>
<app-search-form></app-search-form>
<section>
  <router-outlet></router-outlet>
</section>
<footer>
  <ul>
    <li class="list-header">Community</li>
    <li><a href="#">Github</a></li>
    <li><a href="#">johan.abde@chasacademy.se</a></li>
    <li><a href="https://www.chasacademy.se/">Chas Academy</a></li>
  </ul>
  <ul>
    <li class="list-header">Fundamentals</li>
    <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
      from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
    <li>API Provided by: <a href="https://www.themoviedb.org/">TheMoviedb.org</a></li>
    <li>Site creator: <a href="https://www.github.com/abdejohan/">Johan Abdé</a></li>
  </ul>
</footer>

