<ngb-tabset [destroyOnHide]="false">

  <!--TAB ONE -->
  <ngb-tab title="Home">
    <ng-template ngbTabContent>
    <!--APP-SEARCH GENERATES THE SEARCH VIEW-->
    <app-search></app-search>
    </ng-template>
  </ngb-tab>




  <!--TAB TWO -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>List</b> Movies</ng-template>
    <ng-template ngbTabContent>
            <!--CONTENT-->
      <app-display></app-display>
    </ng-template>
  </ngb-tab>




  <!--TAB THREE -->
  <ngb-tab title="Coming Soon" [disabled]="true">
    <ng-template ngbTabContent>
      <!--CONTENT-->
    </ng-template>
  </ngb-tab>
</ngb-tabset>