* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.margin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  width: 70%;
}
