<ngb-tabset>

  <!--TAB ONE -->
  <ngb-tab title="Search Movie">
    <ng-template ngbTabContent>
    <!--APP-SEARCH GENERATES THE SEARCH VIEW-->
    <app-search></app-search>
    </ng-template>
  </ngb-tab>


  <!--TAB TWO -->
  <ngb-tab title="Search Actor">
    <ng-template ngbTabContent>
      <app-actorsearch></app-actorsearch>
    </ng-template>
  </ngb-tab>
  
  

  
  
  <!--TAB THREE -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>List</b> Movies</ng-template>
    <ng-template ngbTabContent>
            <!--CONTENT-->
      <app-display></app-display>
    </ng-template>
  </ngb-tab>




</ngb-tabset>