div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  background-color: red;
  flex-flow: column wrap;

}


ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  list-style-type: none;
}

ul > li {
  padding: 10px;
  margin: 0px 5px;
}


ul > li > a {
  text-decoration: none;
}