<ngb-tabset>
  <ngb-tab title="Actor Details">
    <ng-template ngbTabContent>
      <button (click)="goBack()" class="example back">Go Back</button>

      <div class="searchContent">
        <ul *ngIf="person">
          <li><span class="title">{{ person.name }} </span></li>
          <li><img src="https://image.tmdb.org/t/p/w300{{person.profile_path}}" alt="actor_poster"></li>
          <li><span>Biography</span></li>
          <li> {{ person.biography }} </li>
          <li><span>Born In</span></li>
          <li> {{ person.place_of_birth }} </li>
        </ul>
      </div>

    </ng-template>
  </ngb-tab>