<div class="center-content" *ngIf="movie">
  <span class="header-text movie-title">{{ movie.original_title }}</span>
  <div class="container">
    <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="movie_poster">
    <div class="data-container">
      <span class="header-text">Actors</span>
      <div class="list">
        <p *ngFor="let res of actors"> {{ res.name }} </p>
      </div>
      
      <span class="header-text">Genre</span>
      <div class="list">
        <p *ngFor="let res of movie.genres"> {{ res.name }} </p>
      </div>
      
      <span class="header-text">Overview</span>
      <p class="overview">{{ movie.overview }}</p>
    </div>
  </div>
</div>
  
<div class="center-content" *ngIf="actor">
  <span class="header-text movie-title">{{ actor.name }} </span>
  <div class="container">
    <img src="https://image.tmdb.org/t/p/w300{{actor.profile_path}}" alt="Image of Actor">
    <div class="data-container">
      <span class="header-text">Biography</span>
      <div class="list">
        <p> {{ actor.biography }} </p>
      </div>
      <span class="header-text">Born In</span>
      <div class="list">
        <p> {{ actor.place_of_birth }} </p>
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button (click)="goBack()">&#8592;</button>
</div>