* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button {
  width: 100%;
  max-width: 340px;
}

.back-button {
  width: 300px;
  height: 40px;
  background-color: #fcfc62;
  margin-top: 30px;
}

.searchContent {
  display: flex;
  flex-flow: row wrap;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}

.content-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;
}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0.1em;
  color: #fcfc62;
}

.main-title {
  display: flex;
  justify-content: center;
}

p {
  color: #f1f1f1;
}

.add-margin {
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.movie-data-container {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
}

.top-row {
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 900px) {
  .top-row {
    flex-flow: column wrap;
  }

  .container,
  .searchContent,
  .top-row,
  .movie-data-container {
    align-items: center;
  }
}
