* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

button {
  width: 100%;
  max-width: 340px;
}

img {
  max-width: 100%;
  height: auto;
}

.back-button {
  width: 300px;
  height: 40px;
  background-color: #fcfc62;
  margin-top: 30px;
}

.header-text {
  display: block;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  color: #fcfc62;
}

.movie-title {
  font-size: 5rem;
  padding: 10px;
  margin-top: 60px;
}

p {
  color: #424242;
}

p + p {
  margin-left: 20px;
}

.center-content {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  background-color: #c9c9c9;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
}

.data-container {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}

.container {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
}

@media (max-width: 900px) {
  .container {
    flex-flow: column wrap;
    justify-content: center;
  }

  .center-content {
    width: 100%;
  }

  .movie-title {
    display: flex;
    justify-content: center;
  }
}
