<header>
  <nav> 
    <ul>
      <li><span class="title-text">Top Movie Categories:</span></li>
      <li><a [routerLink] = "['c1', 'top-rated']">Top Rated</a></li>
      <li><a [routerLink] = "['c2', 'popular']">Popular</a></li>
      <li><a [routerLink] = "['c3', 'upcoming']">Upcoming</a></li>
    </ul>
  </nav>
</header>
<div class="search-selector-container">
  <div class="search-selector">
    <ul class="search-text">
      <li><a routerLink="">Movies</a></li>
      <li><span class="slash">/</span></li>
      <li><a routerLink="actor">Actors</a></li>
    </ul>
  </div>
</div>