<header class="darken">
</header>
    <article class="header-text">
      <h1>MOVIE DATABASE</h1>
      <p>Search for your favorite movie or actor.</p>
    </article>
    <img class="icon-menu" src="../../assets/images/loupe.png" alt="search icon">
    <nav> 
      <ul>
        <img class="icon" src="../../assets/images/multimedia.png" alt="film icon">
        <li><span class="title-text">Top Movie Categories:</span></li>
        <li class="category-link"><a [routerLink] = "['c1', 'top-rated']">Top Rated</a></li>
        <li class="category-link"><a [routerLink] = "['c2', 'popular']">Popular</a></li>
        <li class="category-link"><a [routerLink] = "['c3', 'upcoming']">Upcoming</a></li>
      </ul>
    </nav>
<div class="search-selector-container">
  <div class="search-selector">
    <ul class="search-text">
      <li><a routerLink="">Movies</a></li>
      <li><span class="slash">/</span></li>
      <li><a routerLink="actor">Actors</a></li>
    </ul>
  </div>
</div>