* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 10px;
  align-items: flex-start;
  padding-left: 20px;
  justify-content: center;
  flex-flow: row nowrap;
  display: flex;
  background-color: #dddddd;
  width: 100%;
}

nav > ul > li > a {
  color: #7d5ba6;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;
}

ul > li {
  margin-left: 0.5em;
}

ul > li > a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 900;
  color: #d1ffd7;
}

ul > li > a:hover {
  color: #a6d3a0;
}

.nav-list {
  widows: 100%;
  flex-grow: 1;
  top: 0px;
  max-width: 1000px;
}

.title-text {
  display: block;
  font-weight: bolder;
  width: 100%;
  letter-spacing: 1px;
}

.title-link {
  font-size: 1.5em;
}

.slash {
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 0px 10px;
  font-size: 40px;
}

h1 {
  font-size: xx-large;
  color: white;
}

.search {
  font-size: x-large;
  color: whitesmoke;
}

@media (max-width: 600px) {
  section {
    width: 100%;
  }
}

.search-selector-container {
  display: flex;
  justify-content: center;
}

.search-selector {
  margin-left: 30px;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  margin-top: 50px;
  width: 70%;
}

.search-text {
  border-radius: 15px 15px 0px 0px;
  padding: 0px 10px;
  background-color: #a3a3a3;
  display: flex;
}
