* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 20px;
  max-width: 600px;
  min-width: 400px;
  border-bottom: 2px solid black;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  list-style-type: none;
}


ul > li > a {
  text-decoration: none;
}

.red {
  background-color: #B4EDD2;
}


.movie-actor-option {
  flex: 1; 
}

.movie-actor-option > a {
  display: flex;
  justify-content: center;
  padding: .2em 1.2em;
  color: white;
}

.blue {
  background-color: #A0CFD3;
}


.nav-list {
  flex-grow: 1;
  top: 0px;
  background-color: gray;
}

.container-div {
  padding: 0.5em 0px;
}

.title-text {
  display: block;
  font-weight: bolder;
  width: 100%;
}

.title-link {
  font-size: 1.5em;
}

.mini-header {
  background-color: #9A7AA0;
  width: 100%;
}