form input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #feffea;
  border-radius: 30px 0px 0px 30px;
}

form.form .button {
  width: 30%;
  padding: 10px;
  background: #7d5ba6;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;

  border-radius: 0px 30px 30px 0px;
}

.button {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

form .button:hover {
  background: #424242;
}

/* Clear floats */
form::after {
  content: "";
  clear: both;
  display: table;
}

form {
  width: 60%;
}

div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group {
  margin-left: 20px;
  margin-top: 5px;
  display: block;
}

.radio-button + .radio-button {
  margin-left: 10px;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}
