/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  min-height: 100vh;
}

body {
  width: 100%;
  background-image: url("./assets/images/headerImage1.jpg");
}

.back-button {
  width: 80%;
  height: 40px;
  background-color: #7d5ba6;
}

/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 30%;
  padding: 10px;
  background: #7d5ba6;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
