<ngb-tabset>
  <ngb-tab title="Movie Details">
    <ng-template ngbTabContent>
      <button (click)="goBack()" class="example back">Go Back</button>

      <div class="searchContent">
        <ul *ngIf="movie">
          <li><span>Title:</span> {{ movie.original_title }} </li>
          <li><span>Genre:</span> {{ movie.genres.name }} </li>
          <li><span>Tagline:</span> {{ movie.tagline }} </li>
          <li><span>Overview:</span> {{ movie.overview }} </li>
        </ul>
      </div>

    </ng-template>
  </ngb-tab>