<ngb-tabset>
  <ngb-tab title="Movie Details">
    <ng-template ngbTabContent>
      <button (click)="goBack()" class="example back">Go Back</button>

      <div class="searchContent">
        <ul *ngIf="movie">
          <li><span class="title">{{ movie.original_title }}</span></li>
          <li><img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="movie_poster"></li>
          <li><span>Genre</span></li>
          <li *ngFor="let res of movie.genres"> {{ res.name }} </li>
          <li><span>Overview</span></li>
          <li>{{ movie.overview }} </li>
        </ul>
      </div>

    </ng-template>
  </ngb-tab>